nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 32px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 28px;

    
}

nav ul li{
    list-style: none;    
}

nav a{
    text-decoration: none;
    color: inherit;
}

.imagem-perfil img{
    width: 48px;
    height: 48px;
    border-radius: 50%;

}